<ion-header>
  <ion-toolbar class="topMenu">
    <ion-buttons slot="start">
      <ion-back-button defaulthref=""></ion-back-button>
    </ion-buttons> 
    <ion-title>Notificaciones hH</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list no-padding no-margin>
   
    <ion-item color="primary" class="text-10" >
      <ion-icon name="mail" color="light"></ion-icon>
      <ion-label>jairo notificaiones</ion-label>
      <ion-button class="btnGO" slot="end" color="primary" (click)="go()"  >Go</ion-button>
    </ion-item>
  
    <ion-item color="light" class="text-10" >
      <ion-icon name="mail-open" color="primary"></ion-icon>
      <ion-label>jairo notificaiones by month!</ion-label>
      <ion-button class="btnGO" slot="end" color="primary" (click)="openModal()">Go</ion-button>
    </ion-item>
  
    <ion-item color="light" class="text-10" >
      <ion-icon name="mail-open" color="primary"></ion-icon>
      <ion-label>jairo notificaiones by month!</ion-label>
      <ion-button class="btnGO" slot="end" color="primary" (click)="openModal()" >Go</ion-button>
    </ion-item>
  
    <ion-item color="primary" class="text-10" >
      <ion-icon name="mail" color="light"></ion-icon>
      <ion-label>jairo notificaiones</ion-label>
      <ion-button class="btnGO" slot="end" color="primary" (click)="openModal()" >Go</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
