.topMenu{
    --background: #203B69;
    --color: #fff;
    text-align: right;
}
.topSection{
    background-color: #203B69;
    color: white;
    text-align: center;
    padding: 16px;
  }
  .text1{
    font-size: 22px;
    text-align: center;
}
.divOthers{
    background-color: #203B69;
    text-align: left;
    color: white;
    padding: 10px;
}
.boton1{
    --background:  #203B69 !important; 
}