
<ion-header >
    <ion-toolbar class="topMenu" >
        <ion-title>Bienvenidos a Summit</ion-title>
      </ion-toolbar>
</ion-header>
 
<ion-content padding>
  <div class="logo">
        <img src="../../assets/img/summitmini.png" alt="" > 
          
      </div>
      <!--<div>
          <div padding>
              <ion-segment [(ngModel)]="opt"  color="dark">
                <ion-segment-button value="signin">
                  Sign In
                </ion-segment-button>
                <ion-segment-button value="signup">
                  Sign Up
                </ion-segment-button>
              </ion-segment>
            </div>
       </div>
       <div>-->
    <ion-list class="line-input"> 
        <ion-item> 
          <ion-icon name="person" slot="end"></ion-icon>
          <ion-label>Cédula</ion-label> 
          <ion-input [(ngModel)]="cedula"></ion-input> 
        </ion-item> 
      </ion-list>
  <!--<button ion-button full (click)="doLogin()">Login</button>-->
  <ion-button class="btnLoging" expand="block" (click) ="login()">Login<ion-icon name="log-in"></ion-icon></ion-button>
</ion-content>