
<ion-header >
    <ion-toolbar class="topMenu" >
        <ion-title>welcome</ion-title>
      </ion-toolbar>
</ion-header>
 
<ion-content padding>
  <div class="logo">
        <img src="../../assets/img/ST1.png" alt="Es el de summit que representa una dos montañas" > 
          
      </div>
      <!--<div>
          <div padding>
              <ion-segment [(ngModel)]="opt"  color="dark">
                <ion-segment-button value="signin">
                  Sign In
                </ion-segment-button>
                <ion-segment-button value="signup">
                  Sign Up
                </ion-segment-button>
              </ion-segment>
            </div>
       </div>
       <div>-->
        <ion-card>
          <ion-card-content>
            <h6 class="lg_title"> <strong>Coronavirus </strong> </h6>
            <p class="lg_text1">If you are not registered in SUMMIT, press <strong>Start</strong> to know the level of risk and follow 
              up on your symptoms and health conditions
            </p>
            <ion-grid>
      
              <ion-row>
                <ion-col>
                  <div></div>
                </ion-col>
                <ion-col>
                  <div><ion-button shape="round" expand="full" routerLink="/registro-covid" class="boton1" (click)="startCovidForm()">
                    Start
                  </ion-button></div>
                </ion-col>
                <ion-col>
                  <div></div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        
        </ion-card>
    <ion-list class="line-input"> 
        <ion-item> 
          <ion-icon name="person" slot="end"></ion-icon>
          <ion-label position="floating">User Id</ion-label> 
          <ion-input [(ngModel)]="cedula" type="number"></ion-input> 
        </ion-item> 
      </ion-list>
  <!--<button ion-button full routerLink="/menu/first/tabs/tab2 (click)="doLogin()">Login</button>-->
  <ion-button class="btnLoging" expand="block" (click)="login()">Login<ion-icon name="log-in"></ion-icon></ion-button>
</ion-content>