<ion-split-pane>
<ion-menu type="overlay" contentId="content" side="start">
  <ion-header>
    <ion-toolbar class="topMenu">
        <div class="logo">
          <img  size="small" src="../../assets/img/01.png" alt="" class="img-responsive" >
              
          </div>
      <ion-title>Summit</ion-title>
      <br>
    </ion-toolbar>
  </ion-header>
 
  <ion-content>
    <ion-list>
       
      <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
        
          <ion-item [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath.startsWith(p.url)">
              <ion-icon slot="start" name="{{p.icon}}"></ion-icon>
            <ion-label>
                
                {{ p.title }}
                </ion-label>
            </ion-item>
          
           
         
   
        </ion-menu-toggle>
      <ion-item tappable (click)="logout()" routerDirection="root">
      <ion-icon name="log-out" slot="start"> </ion-icon>
      logout
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
 
<!-- main navigation -->
<ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>