.active-items{
    border-left: 8px solid var(--ion-color-primary);
}
.topMenu{
    --background: #e6e6e6;
    --color: #000;
    text-align: center;
}
.logo{
    margin: 48px auto;
    display: block;
  
}
img {
    max-width: 21%;
    border: 0;
    padding: 6px;
}
