.topMenu{
    --background: #203B69;
    --color: #fff;
    text-align: center;
}
ion-col div {
   
    border-radius: 2px;
    padding: 5px;
    text-align: center;
  }

  p {
    //padding: 10px 0 0 10px !important;
    //margin: 0;
  }


  .topSection{
    background-color: #203B69;
    color: white;
    text-align: center;
    padding: 26px;
  }

  img {
    max-width: 70%;
    border: 0;
    padding: 6px;
}
.text1{
    font-size: 22px;
    text-align: center;
}
.text2{
    font-size: 18px;
    text-align: center;
}
.imgIcon{
    max-width:15% !important;
    border: 0;
    padding: 6px;
}
.boton1{
    --background:  #203B69 !important; 
}
.boton2{
    --background: #d10e18 !important;
}

.option{
    white-space: pre-wrap !important;
         font-weight: bold; margin-bottom: 10px;
}

ion-slides {
    height: auto!important;
    }
    .btnLoging{
        --background: #203B69;
    }
.cardheader{
    font-weight: bold;
    font-size: 18px;}