.topMenu{
    --background: #203B69;
    --color: #fff;
    text-align: right;
}
.line-input {
    margin-bottom: 0!important;
    ion-item {
        --border-color: transparent!important;
        --highlight-height: 0;
        border-radius: 12px;
        --background:#EFEEEE;
       
        border:  1px solid rgba(255,255,255,0.20);
        &.item-has-focus {
            border: 1px solid var(--ion-color-primary);
        }
        ion-label {
            color: #807e7e!important;
            font-weight: 300;
            font-size: 1rem!important;
        }
    }
}

.title{
    text-align: center;
    font-weight: bold;
}
ion-card-content{
    --background:#EFEEEE;
    border:  1px solid rgba(255,255,255,0.20);
    border-radius: 12px;
    box-shadow: -6px -6px 26px 0 rgba(255,255,255,0.83);
    box-shadow: 6px 6px 16px 0 rgba(217,210,200,0.51);

}
.iconC{
    --background: #203B69;
}
