<!-- <ion-header>
    <ion-toolbar class="topMenu">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title>Summit</ion-title> -->
      <!--  <ion-button class="btnGO"  color="primary" (click)=" ScanBeaconsAll()">
        scanAll
      </ion-button>
      <ion-button class="btnGO"  color="primary" (click)="doBinary()">
        scanDoBinary
      </ion-button>
      <ion-button class="btnGO"  color="primary" (click)="testWayFinding()">
        scanTest 
      </ion-button>-->
     
      <!-- <ng-container *ngFor="let p of pages" item-content>
      <ion-button [routerLink]="p.url" routerDirection="root" slot="end" color="ligth" size="small" shape="round">
        <ion-icon  name="notifications"></ion-icon>
        <ion-badge id="cart-badge" color="ligth" slot="end">{{alertAmount}}</ion-badge>
      </ion-button>
      </ng-container>
    </ion-toolbar>
  </ion-header> -->

  <ion-header>
    <ion-toolbar class="topMenu">
      <ion-buttons slot="start">
        <ion-button (click)="goBack()"><ion-icon name="arrow-back"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title>
        <img src="assets/img/ccss-logo.png" alt="Es el de summit que representa una dos montañas" style="width: 40px;">
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <div id="mapwize"></div>

   
    </ion-content>
    <ion-footer class="ion-no-border">
      <ion-toolbar style="text-align: center;">
        <ion-card mode="ios" *ngIf="hidenCard">
          <ion-card-content>
            <ion-card-title>
              Información de tiquete
              </ion-card-title>
            <p> <strong>{{ ticketNumber}}</strong> </p>
            <p>{{ticketServices}} </p>
            <p>Su posición en la fila es:  <strong>{{ticketPosition}}</strong>  </p>
          </ion-card-content>
        </ion-card>
       
          <ion-button  class="btnHidenCard"  (click)="actionInfoTicket()" >
          {{btnNombre}} <ion-icon name="pricetag"></ion-icon></ion-button>
           
      </ion-toolbar>
      <strong></strong>
    </ion-footer>