<ion-header>
    <ion-toolbar class="topMenu">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
      <ion-title>Summit</ion-title>
      <ng-container *ngFor="let p of pages" item-content>
      <ion-button [routerLink]="p.url" routerDirection="root" slot="end" color="ligth" size="small" shape="round">
        <ion-icon  name="notifications"></ion-icon>
        <ion-badge id="cart-badge" color="ligth" slot="end">{{alertAmount}}</ion-badge>
      </ion-button>
      </ng-container>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div id="mapwize"></div>
    
    </ion-content>