.topMenu{
    --background: #203B69;
    --color: #fff;
    text-align: right;
}
#Naman{
    height: 500px;
    //position:absolute;
    top:0;
    bottom:0;
    width:100%;
    height:100%;
    z-index: 1;
  }
  .search{
     
      z-index: 2;
  }

.marker {
    background-image: url('markerIcon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.my-custom-marker{
    background-image: url('../../assets/img/goPoint.png');
    background-size: cover; 
    width: 35px;
    height: 40px;
  }
  .btnHidenCard{
    --background: #125eab;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.centerBtn{
    text-align: center;
}
ion-icon {
    color: white !important;
  }