<ion-header>
  <ion-toolbar class="topMenu">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Summit</ion-title>
    <ion-button slot="end" color="ligth" size="small" shape="round">
      <ion-icon name="notifications"></ion-icon>
      <ion-badge id="cart-badge" color="ligth" slot="end">{{bellAlert}}</ion-badge>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-title class="header-title">Personas Asociadas</ion-title>

  <ion-list>

    <ion-card>
      <ion-item *ngFor="let p of person">
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-card-content>
          <ion-label>{{p.name}}</ion-label>
          <ion-label>{{p.identifier}}</ion-label>
        </ion-card-content>
        <ion-button class="btnGO" slot="end" color="primary" (click)="heartmonitor()">
          <ion-icon name="md-heart" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button class="btnGO" slot="end" color="primary" (click)="go(p.id)">
          <ion-icon name="paper-plane" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card>



  </ion-list>
  
</ion-content>