<ion-header>
  <ion-toolbar class="topMenu">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <img src="assets/img/logoccss.png" alt="Es el de summit que representa una dos montañas"
      style="width: 40px; padding: 0;">
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map"></div>
  <div class="card-container">
    <ion-card class="ion-no-margin ion-text-left card">
      <ion-card-header class="ion-no-padding">
        <ion-card-title class="card-title">Hospital</ion-card-title>
        <ion-card-subtitle class="card-subtitle">Distancia: 200km</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="ion-no-padding">
        <p (click)="showRoute({latitude:9.974475, longitude:-84.752396})">cualquier informacion</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>