<ion-header>
  <ion-toolbar class="topMenu">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="assets/img/logoccss.png" alt="Es el de summit que representa una dos montañas" style="width: 40px;">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map"></div>
  <div class="card-container">
    <ion-card #carta class="ion-no-margin ion-text-left card">
      <ion-item style="--border-style: none; padding: 0">
        <!-- <ion-icon name="pin" slot="start"></ion-icon> -->
        <ion-card-header class="ion-no-padding">
          <ion-card-title style="font-size: large;" class="card-title">{{centroAdscripcion}}</ion-card-title>
          <ion-card-subtitle class="card-subtitle">Distancia: ...km</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content slot="end" class="ion-no-padding">
          <!-- <p (click)="showRoute({latitude:9.974475, longitude:-84.752396})">Ver ruta</p> -->
          <ion-button (click)="showRoute({latitude:9.974475, longitude:-84.752396})" fill="outline" slot="end">Ver ruta</ion-button>
        </ion-card-content>
      </ion-item>
    </ion-card>
  </div>
</ion-content>