<ion-backdrop *ngIf="backdropBool" [tappable]="true" [stopPropagation]="true" (ionBackdropTap)="consoleado($event)"></ion-backdrop>
<ion-header>
  <ion-toolbar class="topMenu">
    <ion-buttons mode="ios" (click)="logout()" slot="start">
      <span style="font-size: 16px; color: white;">
        <i class="fas fa-arrow-left"></i>

      </span>
      <ion-label style="padding: 4px; "> Salir</ion-label>
    </ion-buttons>
    <ion-title>
      <img src="assets/img/ccss-logo.png" alt="Es el de summit que representa una dos montañas" style="width: 40px;">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="hasAsist && !assistance" mode="ios" #carta class="ion-no-margin ion-text-left card-asistance">
    <ion-card-header class="ion-no-padding" >
      <ion-item style="--border-style: none; padding: 0">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <div class="headerCard" style="width: 100%;">
          <ion-card-title style="font-size: large;" class="card-title">
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </ion-card-title>
          <ion-card-subtitle class="card-subtitle">
            <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
          </ion-card-subtitle>
        </div>
        <!-- <ion-button fill="outline" slot="end" (click)="goToTicket(1)">ticket</ion-button> -->
      </ion-item>
    </ion-card-header>
    <ion-card-content style="padding-top: 0; padding-bottom: 0;">
      <p><ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></p>
      <p><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="hasAsist && assistance" mode="ios" #carta class="ion-no-margin ion-text-left card-asistance">
    <ion-card-header class="ion-no-padding" >
      <ion-item *ngIf="assistance['status'] != 'PENDING' " style="--border-style: none; padding: 0">
        <ion-thumbnail slot="start" class="sos_thumbnail">
          <span style="font-size: xx-large; color: black;">
            <i *ngIf="assistance['type'].category === 'STAFF'" class="fas fa-hospital-user"></i>
            <i *ngIf="assistance['type'].category === 'ASSET'" class="fas fa-wheelchair"></i>
          </span>
        </ion-thumbnail>
        <div class="headerCard" style="width: 100%;">
          <ion-card-title style="font-size: large;" class="card-title">
            <ion-skeleton-text *ngIf="!assistance['title']" animated style="width: 80%"></ion-skeleton-text>
            {{this.assistance['title'] ? this.assistance['title'] : ''}}
          </ion-card-title>
          <ion-card-subtitle class="card-subtitle">
            <ion-skeleton-text *ngIf="!assistance['description']" animated style="width: 40%"></ion-skeleton-text>
            {{this.assistance['description'] ? this.assistance['description'] : ''}}
          </ion-card-subtitle>
        </div>
      </ion-item>
    </ion-card-header>
    <ion-card-content style="padding-top: 0; padding-bottom: 0;">
      <p>{{this.assistance['status'] != 'PENDING' ? 'El personal esta por llegar, por favor permanezca en su lugar.' : 'El personal se encuentra resolviendo su solicitud. Pronto tendrá respuesta.'}}</p>
      <ion-button *ngIf="assistance['status'] === 'PENDING'; else btnFinalizar" size="small" expand="block" style="margin-top: 10px;" 
      (click)="closeSOSEvent('CANCELED')">Cancelar</ion-button>
      <ng-template #btnFinalizar>
        <ion-button size="small" expand="block" style="margin-top: 10px;" 
        (click)="closeSOSEvent('FINISHED')">Finalizar</ion-button>
    </ng-template>
    </ion-card-content>
  </ion-card>

  <!-- <ion-title>Servicios</ion-title> -->
  <ion-card mode="ios" class="sos-button" *ngIf="!hasAsist">
    <ion-item (click)="openBottomSheet()" style="border-radius: 25px;">
      <!-- <ion-badge slot="start">0</ion-badge>
      <ion-icon name="pricetag" slot="start"></ion-icon> -->
        <span style="font-size: x-large; color: white; margin-right: 10px;">
          <i class="fas fa-hand-holding-heart"></i>
        </span>
      <ion-label style="color: white;">Solicitar Asistencia</ion-label>
      <!-- <ion-button fill="outline" slot="end">Ver</ion-button> -->
    </ion-item>
  </ion-card>

  <ion-card mode="ios">
    <ion-item (click)="presentModal()">
      <!-- <ion-badge slot="start">0</ion-badge>
      <ion-icon name="pricetag" slot="start"></ion-icon> -->
      <ion-button mode="ios" class="badge-button">
        <ion-icon size="large" name="pricetag"></ion-icon>
        <ion-badge mode="ios" class="badge-number" color="danger">3</ion-badge>
      </ion-button>
      <ion-label>Ver tickets y citas pendientes.</ion-label>
      <!-- <ion-button fill="outline" slot="end">Ver</ion-button> -->
    </ion-item>
  </ion-card>
  <ion-card mode="ios">
    <ion-item (click)="goPrenal()">
      <ion-button mode="ios" class="badge-button">
        <span style="font-size: x-large; color: lightsalmon;">
          <i class="fas fa-baby"></i>
        </span>
      </ion-button>
      <ion-label>Encuesta en caso de embarazo.</ion-label>
      <!-- <ion-button fill="outline" slot="end">Ver</ion-button> -->
    </ion-item>
  </ion-card>
  <h5>Servicios</h5>

  <div class="grid-container">

    <ion-card *ngFor="let service of services" mode="ios" class="card" (click)="getMeATicket(service)">
      <ion-card-content class="content-card">
        <span [style.color]="service.icon.color" [style.fontSize]="service.icon.font">
          <i [class]="service.icon.class"></i>
        </span>
        <ion-card-title class="title-card">{{service.name}}</ion-card-title>
      </ion-card-content>
    </ion-card>

    <!-- <ion-card mode="ios" class="card" [routerLink]="['/coronavirus']">
      <ion-card-content class="content-card">
        <span style=" font-size: x-large; color: lightcoral;">
          <i class="fas fa-ambulance"></i>
        </span>
        <ion-card-title class="title-card">Emergencias</ion-card-title>
      </ion-card-content>
    </ion-card>

    <ion-card mode="ios" class="card" [routerLink]="['/coronavirus']">
      <ion-card-content class="content-card">
        <span style=" font-size: x-large; color: lightpink;">
          <i class="fas fa-heartbeat"></i>
        </span>
        <ion-card-title class="title-card">Cardiologia</ion-card-title>
      </ion-card-content>
    </ion-card>

    <ion-card mode="ios" class="card" [routerLink]="['/coronavirus']">
      <ion-card-content class="content-card">
        <span style=" font-size: x-large; color: lightblue;">
          <i class="fas fa-tooth"></i>
        </span>
        <ion-card-title class="title-card">Odontologia</ion-card-title>
      </ion-card-content>
    </ion-card>

    <ion-card mode="ios" class="card" [routerLink]="['/coronavirus']">
      <ion-card-content class="content-card">
        <span style=" font-size: x-large; color: lightsalmon;">
          <i class="fas fa-baby"></i>
        </span>
        <ion-card-title class="title-card">Obstetricia</ion-card-title>
      </ion-card-content>
    </ion-card>

    <ion-card mode="ios" class="card" [routerLink]="['/coronavirus']">
      <ion-card-content class="content-card">
        <span style=" font-size: x-large; color: lightgrey;">
          <i class="fas fa-radiation"></i>
        </span>
        <ion-card-title class="title-card">Rayos X</ion-card-title>
      </ion-card-content>
    </ion-card>

    <ion-card mode="ios" class="card" [routerLink]="['/coronavirus']">
      <ion-card-content class="content-card">
        <span style=" font-size: x-large; color: lightseagreen;">
          <i class="fas fa-pills"></i>
        </span>
        <ion-card-title class="title-card">Farmacia</ion-card-title>
      </ion-card-content>
    </ion-card> -->

  </div>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed" (click)="goToIndoors()" style="z-index: 1;">
    <ion-fab-button size="small" color="secondary">
      <ion-icon name="navigate"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <app-bottom-sheet #bottomSheet (isOpen)="backdropBool = $event" [title]="'Opciones de Asistencia'" style="z-index: 200;" slot="fixed">
    <ion-list>
      <ion-item *ngFor="let option of options" [id]="option.id" (click)="selectOption(option._id)">
        <ion-label>{{option.name}}</ion-label>
      </ion-item>
    </ion-list>
  </app-bottom-sheet>

</ion-content>