<ion-header>
  <ion-toolbar class="topMenu">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" text="Salir"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="assets/img/ccss-logo.png" alt="Es logo de la caja costarricense de seguro social" style="width: 40px;">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card-content>
    <ion-title class="header-title">Datos Personales</ion-title>
    <form [formGroup]="myForm">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Tipo de cédula</ion-label>
          <ion-select interface="popover" [(ngModel)]="userType" formControlName="tipo">
            <ion-select-option value="Cédula Física">Cédula Física</ion-select-option>
            <ion-select-option value="Tarjeta identificación Menores(TIM)">Tarjeta identificación
              Menores(TIM)</ion-select-option>
            <ion-select-option value="Cédula Residente">Cédula Residente</ion-select-option>
            <ion-select-option value="Pasaporte">Pasaporte</ion-select-option>
          </ion-select>
        </ion-item>
        <br>
        <ion-item>
          <ion-icon name="person" slot="end"></ion-icon>
          <ion-label position="floating">Cédula:</ion-label>
          <!--pattern="^[1-9]\d{4}\d{4}$"-->
          <ion-input formControlName="cedula" type="text" placeholder="Cedula" [(ngModel)]="credentials.userCed"></ion-input>
        </ion-item>
        <br>
        <ng-template [ngIf]="enableRegisterForm">
          <ion-item formGroupName="registro">
            <ion-icon name="person" slot="end"></ion-icon>
            <ion-label position="floating">Nombre Completo:</ion-label>
            <ion-input formControlName="name" type="text" placeholder="Nombre Completo" [(ngModel)]="userName">
            </ion-input>
          </ion-item>
          <br>
  
          <ion-item formGroupName="registro">
            <ion-icon name="person" slot="end"></ion-icon>
            <ion-label position="floating">Edad:</ion-label>
            <ion-input formControlName="edad" type="number" placeholder="Edad" [(ngModel)]="userEdad"></ion-input>
          </ion-item>
          <br>
          <ion-item formGroupName="registro">
            <ion-icon name="call" slot="end"></ion-icon>
            <ion-label position="floating">Teléfono:</ion-label>
            <ion-input formControlName="telefono" type="number" placeholder="Telefono" [(ngModel)]="userTel"></ion-input>
          </ion-item>
          <br>
          <!-- <ion-item formGroupName="genero">
            <ion-label position="floating">Genero:</ion-label>
          <ion-select interface="popover" [(ngModel)]="userGenero" formControlName="genero">
            <ion-select-option value="Femenino">Femenino</ion-select-option>
            <ion-select-option value="Masculino">Masculino</ion-select-option>
          </ion-select>
          </ion-item> -->
          <br>
          <ion-item formGroupName="registro">
            <ion-icon name="locate" slot="end"></ion-icon>
            <ion-label position="floating">Lugar de residencia:</ion-label>
            <ion-select formControlName="provincia" placeholder="Provincia" #provinceSelect
              (ionChange)="GenerateCantones(provinceSelect)">
              <ion-select-option [value]="{id:1, value:'San Jose'}">San Jose</ion-select-option>
              <ion-select-option [value]="{id:2, value:'Alajuela'}">Alajuela</ion-select-option>
              <ion-select-option [value]="{id:3, value:'Cartago'}">Cartago</ion-select-option>
              <ion-select-option [value]="{id:4, value:'Heredia'}">Heredia</ion-select-option>
              <ion-select-option [value]="{id:5, value:'Guanacaste'}">Guanacaste</ion-select-option>
              <ion-select-option [value]="{id:6, value:'Puntarenas'}">Puntarenas</ion-select-option>
              <ion-select-option [value]="{id:7, value:'Limon'}">Limon</ion-select-option>
            </ion-select>
  
            <ion-label position="floating">Canton</ion-label>
            <ion-select formControlName="canton" placeholder="Selecione un Canton" #cantonSelect
              (ionChange)="GenerateDistritos(provinceSelect, cantonSelect)"
            >
              <ion-select-option *ngFor="let canton of cantonesList" [value]="canton">
                {{canton.value}}
              </ion-select-option>
            </ion-select>
  
            <ion-label position="floating">Distrito</ion-label>
            <ion-select formControlName="distrito" placeholder="Selecione un Distrito"
              #distritoSelect (ionChange)="GenerateDirection(provinceSelect, cantonSelect, distritoSelect)"
            >
              <ion-select-option *ngFor="let distrito of distritosList" [value]="distrito">
                {{distrito.value}}
              </ion-select-option>
            </ion-select>
  
            <ion-input formControlName="direccion" type="text" placeholder="Dirección" [(ngModel)]="userAddress" hidden>
            </ion-input>
          </ion-item>
        </ng-template>
        <!-- <br> -->

      </ion-list>
      <div padding>
        <ion-button class="btnLoging" expand="block" type="submit" [disabled]="!myForm.valid" (click)="confirmButton($event)">
          Confirmar
        </ion-button>

      </div>
    </form>
  </ion-card-content>
</ion-content>