<ion-header>
  <ion-toolbar class="topMenu">
    <ion-buttons mode="ios" (click)="closeModal()" slot="start">
      <span style="font-size: 16px; color: white;">
        <i class="fas fa-arrow-left"></i>

      </span>
    
    </ion-buttons>
    <ion-title>
      Asistencias
    </ion-title>
    <img slot="end" src="assets/img/ccss-logo.png" alt="Logo de la Caja Costarricense del Seguro Social" style="width: 40px;">
  </ion-toolbar>
</ion-header>
<ion-content>
  <h4>{{id}}</h4>
  <h2>{{value['assistance_type'].name}}</h2>
  <h3>Nombre: {{value['status']}}</h3>
  <h3>Nombre: {{value['patient'].name}}</h3>
  <h3>Ced: {{value['patient'].identifier}}</h3>
  <h3>Telefono: {{value['patient'].telephone}}</h3>
  <h3>Localizacion: {{value['init_location']}}</h3>
  <h3>Hora de solicitud: {{value['createdAt']}}</h3>
  <p>Acá va todo lo referente al ticket de asistencia,
    -> Status de la Asistencia
    -> Nombre del Paciente
    -> Ubicacion
    -> Hora de la solicitud
    -> Boton para Aceptar, Rechazar o Finalizar.
  </p>
</ion-content>
