<ion-header>
  <ion-toolbar class="topMenu">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/first/tabs/tab1/'+'0'"></ion-back-button>
    </ion-buttons>
    <ion-title>Summit</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content>


  <div class="row topSection">

    <img size="small" src="../../assets/img/icon4.png" alt="Icono de información" class="imgIcon">
    
    <p>Ayúdenos a prevenir riesgos en salud durante
      y hasta 14 días despues de su llegada al país.
      Repórtenos los síntomas que presente</p>

  </div>
  <ion-grid>
  <p class="text1">¿Cómo está su salud 
  en este momento?</p>
    <ion-row>
      <ion-col>
        <div>
          <img size="small" src="../../assets/img/happy.png" alt="Imagen de cara feliz" class="img-responsive">
          <ion-button shape="round" expand="full" routerLink="/confirmed" class="boton1" (click)="healthyStatus()">
            Bien
          </ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <img size="small" src="../../assets/img/sad.png" alt="Imagen de cara triste" class="img-responsive">
          <ion-button shape="round" expand="full" routerLink="/Covid-19" class="boton2" (click)="unhealthyStatus()">
            Mal
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    <p class="text2">Si la opción elegida es <STRONG>MAL</STRONG> podrá seleccionar los signos y síntomas en la siguiente pantalla</p>
  </ion-grid>
</ion-content>