<ion-header>
  <ion-toolbar class="topMenu">
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="assets/img/ccss-logo.png" alt="Es el de summit que representa una dos montañas" style="width: 40px;">
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>


  <div class="row topSection">
    <p>Ayúdenos a prevenir riesgos en salud por favor proceda a llenar esta encuesta</p>
  </div>
  <ion-card>
<ion-card-content>
  <form [formGroup]="myForm" >
    <ion-list>
      <!-- Pregunta 1 -->
      <ion-radio-group allow-empty-selection formControlName="preguntaFiebre"  [(ngModel)]="userFiebre">
        <ion-list-header>
          <ion-label class="labelQuestion">¿Tiene historia de fiebre o fiebre mayor a 38?</ion-label>
        </ion-list-header>
        <ion-item lines="none">
          <ion-label>Si</ion-label>
          <ion-radio slot="start" color="primary" value="Si" required></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>No</ion-label>
          <ion-radio slot="start" color="primary" value="No" required></ion-radio>
        </ion-item>
        <ion-label class="textError" color="danger" *ngIf="myForm.controls.preguntaFiebre.errors?.required && (myForm.touched || myForm.dirty)">*El campo es obligatorio </ion-label>
      </ion-radio-group>
      <!-- Pregunta 2 -->
      <ion-radio-group allow-empty-selection formControlName="preguntaDisnea" [(ngModel)]="userDisnea">
        <ion-list-header>
          <ion-label class="labelQuestion">¿Tiene disnea o dificultad respiratoria?</ion-label>
        </ion-list-header>
        <ion-item lines="none">
          <ion-label>Si</ion-label>
          <ion-radio slot="start" color="primary" value="Si" required></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>No</ion-label>
          <ion-radio slot="start" color="primary" value="No" required></ion-radio>
        </ion-item>
        <ion-label class="textError" color="danger" *ngIf="myForm.controls.preguntaDisnea.errors?.required && (myForm.touched || myForm.dirty)">*El campo es obligatorio </ion-label>
      </ion-radio-group>
      <!-- Pregunta 3 -->
      <ion-radio-group allow-empty-selection formControlName="preguntaTos" [(ngModel)]="userTos">
        <ion-list-header>
          <ion-label class="labelQuestion">¿Tiene dolor de garganta o tos?</ion-label>
        </ion-list-header>
        <ion-item lines="none">
          <ion-label>Si</ion-label>
          <ion-radio slot="start" color="primary" value="Si" required></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>No</ion-label>
          <ion-radio slot="start" color="primary" value="No" required></ion-radio>
        </ion-item>
        <ion-label class="textError" color="danger" *ngIf="myForm.controls.preguntaTos.errors?.required && (myForm.touched || myForm.dirty)">*El campo es obligatorio </ion-label>
      </ion-radio-group>
      <!-- Pregunta 4 -->
      <ion-radio-group allow-empty-selection formControlName="preguntaNasal" [(ngModel)]="userNasal">
        <ion-list-header>
          <ion-label class="labelQuestion">¿Tiene congestión nasal?</ion-label>
        </ion-list-header>
        <ion-item lines="none">
          <ion-label>Si</ion-label>
          <ion-radio slot="start" color="primary" value="Si" required></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>No</ion-label>
          <ion-radio slot="start" color="primary" value="No" required></ion-radio>
        </ion-item>
        <ion-label class="textError" color="danger" *ngIf="myForm.controls.preguntaNasal.errors?.required && (myForm.touched || myForm.dirty)">*El campo es obligatorio </ion-label>
      </ion-radio-group>
      <!-- Pregunta 5 -->
      <ion-radio-group allow-empty-selection formControlName="preguntaOlfato" [(ngModel)]="userOlfato">
        <ion-list-header>
          <ion-label class="labelQuestion">¿Tiene perdida de olfato?</ion-label>
        </ion-list-header>
        <ion-item lines="none">
          <ion-label>Si</ion-label>
          <ion-radio slot="start" color="primary" value="Si" required></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>No</ion-label>
          <ion-radio slot="start" color="primary" value="No" required></ion-radio>
        </ion-item>
        <ion-label class="textError" color="danger" *ngIf="myForm.controls.preguntaOlfato.errors?.required && (myForm.touched || myForm.dirty)">*El campo es obligatorio </ion-label>
      </ion-radio-group>
      <!-- Pregunta 6 -->
      <ion-radio-group allow-empty-selection formControlName="preguntaGusto" [(ngModel)]="userGusto">
        <ion-list-header>
          <ion-label class="labelQuestion">¿Tiene cambios en la percepción del gusto, siente
            que le perdió sabor a la comida?</ion-label>
        </ion-list-header>
        <ion-item lines="none">
          <ion-label>Si</ion-label>
          <ion-radio slot="start" color="primary" value="Si" required></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>No</ion-label>
          <ion-radio slot="start" color="primary" value="No" required></ion-radio>
        </ion-item>
        <ion-label class="textError" color="danger" *ngIf="myForm.controls.preguntaGusto.errors?.required && (myForm.touched || myForm.dirty)">*El campo es obligatorio </ion-label>
      </ion-radio-group>
      <!-- Pregunta 7 -->
      <ion-radio-group allow-empty-selection formControlName="preguntaEtiologia" [(ngModel)]="userEti">
        <ion-list-header>
          <ion-label class="labelQuestion">¿No tener otra etiología que explique
            completamente la presentación clínica del evento?</ion-label>
        </ion-list-header>
        <ion-item lines="none">
          <ion-label>Si</ion-label>
          <ion-radio slot="start" color="primary" value="Si" required></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>No</ion-label>
          <ion-radio slot="start" color="primary" value="No" required></ion-radio>
        </ion-item>
        <ion-label class="textError" color="danger" *ngIf="myForm.controls.preguntaEtiologia.errors?.required && (myForm.touched || myForm.dirty)">*El campo es obligatorio </ion-label>
      </ion-radio-group>
      <!-- Pregunta 8 -->
      <ion-radio-group allow-empty-selection formControlName="preguntaSintomas" [(ngModel)]="userSintoma">
        <ion-list-header>
          <ion-label class="labelQuestion">¿Cuándo empezaron los sintomas los últimos 10
            días?</ion-label>
        </ion-list-header>
        <ion-item lines="none">
          <ion-label>Si</ion-label>
          <ion-radio slot="start" color="primary" value="Si" required></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>No</ion-label>
          <ion-radio slot="start" color="primary" value="No" required></ion-radio>
        </ion-item>
        <ion-label class="textError" color="danger" *ngIf="myForm.controls.preguntaSintomas.errors?.required && (myForm.touched || myForm.dirty)">*El campo es obligatorio </ion-label>
      </ion-radio-group>
      <!-- Pregunta 9 -->
      <ion-radio-group allow-empty-selection formControlName="preguntaViajado" [(ngModel)]="userViaje">
        <ion-list-header>
          <ion-label class="labelQuestion">¿Ha viajado fuera del país en los 14 días previos
            al inicio de los síntomas?</ion-label>
        </ion-list-header>
        <ion-item lines="none">
          <ion-label>Si</ion-label>
          <ion-radio slot="start" color="primary" value="Si" required></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>No</ion-label>
          <ion-radio slot="start" color="primary" value="No" required></ion-radio>
        </ion-item>
        <ion-label class="textError" color="danger" *ngIf="myForm.controls.preguntaViajado.errors?.required && (myForm.touched || myForm.dirty)">*El campo es obligatorio </ion-label>
      </ion-radio-group>
      <!-- Pregunta 10 -->
      <ion-radio-group allow-empty-selection formControlName="preguntaMal" [(ngModel)]="userViajado">
        <ion-list-header>
          <ion-label class="labelQuestion">¿Se empezó a sentir mal después de tener contacto
            con una persona que viajó fuera del país en los últimos 14 días,
            previo al inicio de los síntomas?</ion-label>
        </ion-list-header>
        <ion-item lines="none">
          <ion-label>Si</ion-label>
          <ion-radio slot="start" color="primary" value="Si" required></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>No</ion-label>
          <ion-radio slot="start" color="primary" value="No" required></ion-radio>
        </ion-item>
        <ion-label class="textError" color="danger" *ngIf="myForm.controls.preguntaMal.errors?.required && (myForm.touched || myForm.dirty)">*El campo es obligatorio </ion-label>
      </ion-radio-group>
      <br>

    </ion-list>
    <div padding>
      <ion-button class="btnLoging" expand="block" type="submit" [disabled]="!myForm.valid" (click)="confirmSurvey()">
        Confirmar
      </ion-button>

    </div>
  </form>
</ion-card-content>
</ion-card>
</ion-content>