<ion-header>
  <ion-toolbar class="topMenu">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/first/tabs/tab1/'+'0'"></ion-back-button>
    </ion-buttons>
    <ion-title>Summit</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content>


  <div class="row topSection">
    <p>Ayúdenos a prevenir riesgos en salud por favor proceda a llenar esta encuesta</p>
  </div>
  <ion-card>
<ion-card-content>
  <form [formGroup]="myForm" >
    <ion-list>
      <ion-item>
        <ion-label style="font-weight: bold;margin-bottom: 10px;" position="floating">¿Tiene historia de fiebre o fiebre mayor a 38?
        </ion-label>
        <ion-select okText="Aceptar" cancelText="Cancelar" formControlName="preguntaFiebre" placeholder="Si o No" [(ngModel)]="userFiebre">
          <ion-select-option value="Si">Si</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-label style="font-weight: bold;margin-bottom: 10px;" position="floating">¿Tiene disnea o dificultad respiratoria?
        </ion-label>
        <ion-select okText="Aceptar" cancelText="Cancelar" formControlName="preguntaDisnea" placeholder="Si o No" [(ngModel)]="userDisnea">
          <ion-select-option value="Si">Si</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-label style="font-weight: bold;margin-bottom: 10px;" position="floating">¿Tiene dolor de garganta o tos?</ion-label>
        <ion-select okText="Aceptar" cancelText="Cancelar" formControlName="preguntaTos" placeholder="Si o No" [(ngModel)]="userTos">
          <ion-select-option value="Si">Si</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-label style=" font-weight:bold;margin-bottom: 10px;" position="floating">¿Tiene congestión nasal?</ion-label>
        <ion-select formControlName="preguntaNasal" placeholder="Si o No" [(ngModel)]="userNasal">
          <ion-select-option value="Si">Si</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-label style=" font-weight: bold;margin-bottom: 10px;" position="floating">¿Tiene perdida de olfato?</ion-label>
        <ion-select okText="Aceptar" cancelText="Cancelar" formControlName="preguntaOlfalto" placeholder="Si o No" [(ngModel)]="userOlfato">
          <ion-select-option value="Si">Si</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-label style="font-weight: bold;margin-bottom: 10px;" position="floating">¿Tiene cambios en la percepción del gusto, siente
          que le perdió sabor a la comida?</ion-label>
        <ion-select okText="Aceptar" cancelText="Cancelar" formControlName="preguntaGusto" placeholder="Si o No" [(ngModel)]="userGusto">
          <ion-select-option value="Si">Si</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-label style="font-weight: bold;margin-bottom: 10px;" position="floating">¿No tener otra etiología que explique
          completamente la presentación clínica del evento?</ion-label>
        <ion-select okText="Aceptar" cancelText="Cancelar" formControlName="preguntaEtiologia" placeholder="Si o No" [(ngModel)]="userEti">
          <ion-select-option value="Si">Si</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
        </ion-select>
      </ion-item> 
      <ion-item>
        <ion-label style="font-weight: bold; margin-bottom: 10px;" position="floating">¿Cuándo empezaron los sintomas los último 10
          días?
        </ion-label>
        <ion-select okText="Aceptar" cancelText="Cancelar" formControlName="preguntaSintomas" placeholder="Si o No" [(ngModel)]="userSintoma">
          <ion-select-option value="Si">Si</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
     
      <ion-item>
        <ion-label style="font-weight: bold; margin-bottom: 10px;" position="floating">¿Ha viajado fuera del país en los 14 días previos
          al inicio de los síntomas?</ion-label>
        <ion-select okText="Aceptar" cancelText="Cancelar" formControlName="preguntaViajado" placeholder="Si o No" [(ngModel)]="userViaje">
          <ion-select-option value="Si">Si</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-label style="font-weight: bold;" position="floating">¿Se empezó a sentir mal después de tener contacto
          con una persona que viajó fuera del país en los últimos 14 días,
          previo al inicio de los síntomas?</ion-label> <br>
        <ion-select okText="Aceptar" cancelText="Cancelar" formControlName="preguntaMal" placeholder="Si o No" [(ngModel)]="userViajado">
          <ion-select-option value="Si">Si</ion-select-option>
          <ion-select-option value="No">No</ion-select-option>
        </ion-select>
      </ion-item>
      <br>

    </ion-list>
    <div padding>
      <ion-button class="btnLoging" expand="block" type="submit" [disabled]="!myForm.valid" (click)="confirmSurvey()">
        Confirmar
      </ion-button>

    </div>
  </form>
</ion-card-content>
</ion-card>
</ion-content>