<ion-list no-padding no-margin>
  <ion-header>
    <ion-toolbar class="topMenu">
       
      <ion-title>Notificaciones</ion-title>
  
    </ion-toolbar>
  </ion-header>

  <ion-item color="primary" class="text-10" >
    <ion-icon name="mail" color="light"></ion-icon>
    <ion-label>jairo notificaiones</ion-label>
    <ion-button class="btnGO" slot="end" color="primary"  >Go</ion-button>
  </ion-item>

  <ion-item color="light" class="text-10" >
    <ion-icon name="mail-open" color="primary"></ion-icon>
    <ion-label>jairo notificaiones by month!</ion-label>
    <ion-button class="btnGO" slot="end" color="primary" >Go</ion-button>
  </ion-item>

  <ion-item color="light" class="text-10" >
    <ion-icon name="mail-open" color="primary"></ion-icon>
    <ion-label>jairo notificaiones by month!</ion-label>
    <ion-button class="btnGO" slot="end" color="primary"  >Go</ion-button>
  </ion-item>

  <ion-item color="primary" class="text-10" >
    <ion-icon name="mail" color="light"></ion-icon>
    <ion-label>jairo notificaiones</ion-label>
    <ion-button class="btnGO" slot="end" color="primary"  >Go</ion-button>
  </ion-item>
</ion-list>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="full" fill="clear" color="ligth" (click)="closeModal()">
      Close
    </ion-button>
  </ion-toolbar>
</ion-footer>