.topMenu{
    --background: #203B69;
    --color: #fff;
    text-align: right;
}

.topSection{
    
    text-align: center;
    padding: 26px;
  }


.boton1{
    --background:  #203B69 !important; 
}

.imgIcon{
    max-width:63% !important;
    border: 0;
    padding: 6px;
    margin-top: 28px;
}

ion-col div {
   
    border-radius: 2px;
    padding: 5px;
    text-align: center;
  }