<ion-header>
  <ion-toolbar class="topMenu">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Summit</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="row topSection">

    <img size="small" src="../../assets/img/confirmed.png" alt="Icono de confirmación" class="imgIcon">
    
    <p> <strong>¡Gracias por la información!</strong> </p>
<p>Siga informando diriamente cómo está su salud</p>
  </div>
   <div>
    <ion-grid>
      
      <ion-row>
        <ion-col>
          <div></div>
        </ion-col>
        <ion-col>
          <div><ion-button shape="round" expand="full" class="boton1" (click)="go()">Confirmar</ion-button></div>
        </ion-col>
        <ion-col>
          <div></div>
        </ion-col>
      </ion-row>
    </ion-grid>
    
   </div>
</ion-content>
