<ion-header>
  <ion-toolbar class="topMenu">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
    <ion-title>Alerta de personas</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list no-padding no-margin>
   
      <ion-card>
          <ion-item>
            <ion-icon name="mail" color="primary"></ion-icon>
            <ion-label>Hola</ion-label>
            <ion-button class="btnGO" slot="end" color="primary"><ion-icon name="paper-plane" slot="icon-only"></ion-icon></ion-button>
          </ion-item>
        </ion-card> 
  </ion-list>
</ion-content>